{{ define "main" }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
    <span id="busuanzi_container_page_pv" style="display: none;">
      · <span id="busuanzi_value_page_pv"></span> Views
    </span>
  </i>
</p>

<content>
  {{ .Content }}
</content>

{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}

<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>

{{ partial "comments.html" . }}
{{ end }}
